@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #ff69b4 27.26%, #ffe4e1 96.03%);
  font-family: "Raleway", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 40px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.cabecalho {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 20px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 16px;
  background: #ecf4ff;
  border: 2px solid #0e1d2f;
  border-radius: 100px;
}

.projetos {
  background: #ffc0cb;
  margin-top: 32px;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}

.proj-titulos {
  list-style: none;
  font-weight: 700;
  font-size: 30px;
}

.links {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 46px;
}
.links a {
  color: #2ec7a1;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #7b68ee 27.26%, #d8bfd8 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
  margin: 40px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #0e1d2f;
  padding: 64px;
}

.dark .projetos {
  color: #1c1c1c;
  background: #6a5acd;
}

.dark .links a {
  color: #ffee82;
  text-decoration: none;
}

.dark .tema button {
  background: #1c1c1c;
  border: 2px solid #f7f7f7;
  border-radius: 100px;
  color: #ffffff;
}